//! Colors for stopwatch
$red: #a30215;
$green: #48c276;
$lightblue: #8d93b3;
$yellow: #f9ce0d;
$lightgray: rgb(181, 181, 181);
$lightgrayTransparent: rgba(128, 128, 128, 0.914);
$darkgray: #8a8785;
$blue: #245cd0;
$white: #e3f1f7;
