@use '../../utils/styles/colors/globalColors.scss';

.RoundScreenMobile {
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  background-color: lightblue;
  &__section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  &__head {
    padding: 0 1rem;
    background: linear-gradient(
        to left,
        globalColors.$lightgray,
        globalColors.$darkgray
      ),
      url(https://grainy-gradients.vercel.app/noise.svg);
    height: 10%;
    line-height: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__scores {
    background-color: #000000;
    height: 70%;
    display: flex;
    flex-direction: column;
    text-align: center;
    div {
      width: 100%;
      display: flex;
    }
    .large-heading {
      color: #fff;
    }
  }

  &__footer {
    background: linear-gradient(
        to right,
        globalColors.$lightgray,
        globalColors.$darkgray
      ),
      url(https://grainy-gradients.vercel.app/noise.svg);
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}
