.RoundScreenMobile {
  height: 100vh;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  background-color: lightblue;
}

.RoundScreenMobile__section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.RoundScreenMobile__head {
  border-radius: 20px 20px 0 0;
  background-color: lightgray;
  width: 100%;
  height: 10%;
}
.RoundScreenMobile__scores {
  background-color: lightyellow;
  width: 100%;
  height: 70%;
}
.RoundScreenMobile__footer {
  border-radius: 0 0 20px 20px;
  background-color: lightgray;
  width: 100%;
  position: relative;
  /* flex-grow: 1; */
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.stopwatch-button {
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 1px;
  width: 15vh;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.RoundScreenMobile__seconds {
  color: darkblue;
  font-size: 40px;
  text-align: center;
}
.stopwatch-button--red {
  background-color: red;
}
.stopwatch-button--green {
  background-color: green;
}
.stopwatch-button--yellow {
  background-color: yellow;
}
.stopwatch-button--blue {
  background-color: rgb(86, 86, 255);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0);
}
.stopwatch-button--buzzer {
  background-color: rgb(128, 128, 255);
}
.stopwatch-button--off {
  background-color: rgb(181, 181, 181);
}
