@use '../../../utils/styles/colors/globalColors.scss';

.stopwatch-button {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1.5px;
  width: 15vh;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all 0.5s;
  border-style: groove;

  &--red {
    background-color: globalColors.$red;
    border-color: globalColors.$red;
  }
  &--green {
    background-color: globalColors.$green;
    border-color: globalColors.$green;
  }
  &--yellow {
    background-color: globalColors.$yellow;
    border-color: globalColors.$yellow;
  }
  &--blue {
    background-color: globalColors.$lightblue;
    border-color: globalColors.$lightblue;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0);
  }
  &--buzzer {
    background-color: globalColors.$blue;
    border-color: globalColors.$blue;
    text-shadow: 0px 0px 5px #fff;
  }
  &--off {
    background-color: globalColors.$lightgray;
    border-color: globalColors.$lightgray;
  }
}
