body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.node {
  background-color: #cf0e0e;
  border: 1px solid #010e5d;
  border-radius: 5px;
}

.blink_me {
  animation: blinker 2.5s infinite;
}

@keyframes blinker {
  50% {
    stroke: #f97d0e;
    stroke-width: 2.5;
  }
}
